name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  GMT_MODES_PATH: /home/ubuntu/mnt/ceo
  NVCC: /usr/local/cuda/bin/nvcc
  CUDACXX: /usr/local/cuda/bin/nvcc

jobs:
  setup:
    name: Setup
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
       
  build-asm-2023:
    name: Build 2023 FEM with ASM
    needs: setup
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Build ASMS workspace
      env:
        FEM_REPO: /home/ubuntu/mnt/20230131_1605_zen_30_M1_202110_ASM_202208_Mount_202111/
        MOUNT_MODEL: MOUNT_PDR_8kHz
      run: cargo build --workspace --all-features --exclude tms --exclude "mechanics" --exclude "scopes" --exclude "edge-sensors" --exclude demos --exclude "gmt_dos-clients_domeseeing" 
     
  build-fsm-2023:
    name: Build 2023 FEM with FSM
    needs: setup
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Build FSMS workspace
      env:
        FEM_REPO: /home/ubuntu/mnt/20230530_1756_zen_30_M1_202110_FSM_202305_Mount_202305_noStairs/
        MOUNT_MODEL: MOUNT_FDR_1kHz
      run: cargo build --workspace --all-features --exclude tms --exclude "mechanics" --exclude "scopes" --exclude "edge-sensors" --exclude demos --exclude "gmt_dos-clients_domeseeing" 
      
  build-fsm-2025:
    name: Build 2025 FEM with FSM
    needs: setup
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Build FSMS workspace
      env:
        FEM_REPO: /home/ubuntu/mnt/20250516_1420_zen_30_M1_202110_FSM_202305_Mount_202305_pier_202411_M1_actDamping/
        MOUNT_MODEL: MOUNT_FDR_1kHz
      run: cargo build --workspace --all-features --exclude tms --exclude "mechanics" --exclude "scopes" --exclude "edge-sensors" --exclude demos --exclude "gmt_dos-clients_domeseeing" 
      
  build-domeseeing:
    name: Build Dome Seeing
    needs: setup
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Build gmt_dos-clients_domeseeing
      run: cargo build --package gmt_dos-clients_domeseeing 
    - name: Build gmt_dos-clients_domeseeing (npyz)
      run: cargo build --package gmt_dos-clients_domeseeing --no-default-features --features npyz
    - name: Build gmt_dos-clients_domeseeing (object_store)
      run: cargo build --package gmt_dos-clients_domeseeing --no-default-features --features object_store
      
  build-book-examples:
    name: Build Book Example
    needs: setup
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Build book examples
      run: cargo build -p book-examples --examples
      
  build-demos:
    name: Build Demos
    needs: build-asm-2023
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Build demos
      env:
        FEM_REPO: /home/ubuntu/mnt/20230131_1605_zen_30_M1_202110_ASM_202208_Mount_202111/
        MOUNT_MODEL: MOUNT_PDR_8kHz
      run: cargo build --package demos --bins --features gmt_dos-clients_arrow

  asm-test:
    name: Run ASM Tests
    needs: build-asm-2023
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Run ASMS library tests
      env:
        FEM_REPO: /home/ubuntu/mnt/20230131_1605_zen_30_M1_202110_ASM_202208_Mount_202111/
        MOUNT_MODEL: MOUNT_PDR_8kHz
      run: cargo test --workspace --release --lib --all-features --exclude "gmt_dos-clients_domeseeing" -- --test-threads 2
      
  fsm-2023-test:
    name: Run 2023 FSM Tests
    needs: build-fsm-2023
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Run FSMS library tests
      env:
        FEM_REPO: /home/ubuntu/mnt/20230530_1756_zen_30_M1_202110_FSM_202305_Mount_202305_noStairs/
        MOUNT_MODEL: MOUNT_FDR_1kHz
      run: cargo test --workspace --release --lib --all-features --exclude "gmt_dos-clients_domeseeing" -- --test-threads 2
      
  fsm-2025-test:
    name: Run 2025 FSM Tests
    needs: build-fsm-2025
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Run FSMS library tests
      env:
        FEM_REPO: /home/ubuntu/mnt/20250516_1420_zen_30_M1_202110_FSM_202305_Mount_202305_pier_202411_M1_actDamping/
        MOUNT_MODEL: MOUNT_FDR_1kHz
      run: cargo test --workspace --release --lib --all-features --exclude "gmt_dos-clients_domeseeing" -- --test-threads 2
      
  asm-doc-test:
    name: Run ASM Doc Tests
    needs: build-asm-2023
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Run ASMS doc tests
      env:
        FEM_REPO: /home/ubuntu/mnt/20230131_1605_zen_30_M1_202110_ASM_202208_Mount_202111/
        MOUNT_MODEL: MOUNT_PDR_8kHz
      run: cargo test --workspace --doc --all-features --exclude "gmt_dos-clients_domeseeing" 

  fsm-2023-doc-test:
    name: Run FSM Doc Tests
    needs: build-fsm-2023
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Run FSMS doc tests
      env:
        FEM_REPO: /home/ubuntu/mnt/20230530_1756_zen_30_M1_202110_FSM_202305_Mount_202305_noStairs/
        MOUNT_MODEL: MOUNT_FDR_1kHz
      run: cargo test --workspace --doc --all-features --exclude "gmt_dos-clients_domeseeing" 

  fsm-2025-doc-test:
    name: Run FSM Doc Tests
    needs: build-fsm-2025
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Run FSMS doc tests
      env:
        FEM_REPO: /home/ubuntu/mnt/20250516_1420_zen_30_M1_202110_FSM_202305_Mount_202305_pier_202411_M1_actDamping/
        MOUNT_MODEL: MOUNT_FDR_1kHz
      run: cargo test --workspace --doc --all-features --exclude "gmt_dos-clients_domeseeing" 

      
